#recarga-concluida {
    text-align: center;
    padding: 20px;
    margin: auto;
  }
  
  #description-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: auto;
  }
  
  #icon-image {
    width: 50px;
    height: 50px;
  }
  
  #section-gif-loading {
    background-color: #cecece;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  #gif-loading {
    margin: auto;
    width: 45%;
    height: 60%;
  }
  
  #details {
    text-align: left;
    margin-bottom: 15px;
  }
  
  #message {
    font-size: 14px;
    color: #4caf50;
    margin-top: 10px;
  }
  
  .back-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 /* Estilo para o botão "Fazer recarga" */
.button-result {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
  }
  